@charset "utf-8";
/* CSS Document */
@charset "utf-8";

html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre,
	code, form, fieldset, legetns, input, textarea, buttonm p, blockquote,
	th, td {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #000000;
}

img {
	border: none;
}

ul, li {
	list-style-position: outside;
	list-style-type: none;
	list-style-image: none;
}

div {
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-family: "돋움";
	font-size: 12px;
}

#warp {
	width: 100%;
	height: calc(100%);
	background-image: url(../img/warp_bg.png);
	background-repeat: repeat-x;
}

#Top_Area {
	width: 100%;
	height: 118px;
	background-image: url(../img/top_bg.png);
	background-repeat: no-repeat;
}

.ci {
	width: 465px;
	height: 118px;
	background-image: url(../img/ci.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 40px;
}

.top_right {
	width: 670px;
	height: 118px;
	background-repeat: no-repeat;
	float: right;
	margin-right: 40px;
}

#GIS_Area {
	width: 100%;
	height: calc(100% - 203px);
	background-image: url(../img/gis_area_bg.png);
	background-repeat: x-repeat;
}

.ITEM_FORM {
	width: 408px;
	height: 537px;
	position: absolute;
	left: calc(100% - 408px);
	z-index: 999999
}

.Item_Menu {
	width: 408px;
	height: 537px;
	background-image: url(../img/menu.png);
	background-repeat: no-repeat;
}

.ex {
	width: 408px;
	height: 88px;
	background-image: url(../img/ex.png);
	background-repeat: no-repeat;
}

.wms_layer {
	width: 230px;
	height: 28px;
	font-size: 16px;
	color: #ff5a36;
	padding-top: 12px;
	padding-left: 8px;
	float: left;
}

.location_player {
	width: 70px;
	height: 28px;
	font-size: 16px;
	color: #ff5a36;
	padding-top: 8px;
	padding-left: 8px;
	position: relative;
	left: calc(100% - 700px);
	top: 3px
}

#bottom {
	width: 100%;
	height: 85px;
	background-image: url(../img/bottom_bg.gif);
	background-repeat: repeat-x;
}

.title {
	width: 100%;
	margin-left: 40px;
}

.item {
	width: 150px;
	height: 28px;
	font-size: 16px;
	font-weight: bold;
	color: #002f59;
	padding-top: 12px;
	float: left;
}

.area_name {
	width: 150px;
	height: 28px;
	font-size: 16px;
	color: #ff5a36;
	padding-top: 12px;
	padding-left: 8px;
	float: left;
	background-image: url(../img/area_name_blit.png);
	background-repeat: no-repeat;
	background-position: left 18px;
}

#Data_Rolling {
	white-space: nowrap;
	width: 100%;
	height: 22px;
	font-size: 16px;
	color: #FFFFFF;
	margin-left: 40px;
	padding-top: 3px;
	clear: both;
	background-image: url(../img/rolling_bg.gif);
	background-repeat: no-repeat;
	word-spacing: 30px;
}

#copyright {
	width: 100%;
	height: 20px;
	background-image: url(../img/copyright.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.overviewMap {
	width: 250px;
	height: 180px;
	position: absolute;
	right: 400px;
	bottom: 200px;
	z-index: 10000
}